# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
venv/
.venv/
env/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store

# =========================
# Logs & debug
# =========================
*.log

# =========================
# Environment variables
# =========================
.env

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Build / packaging
# =========================
build/
dist/
*.egg-info/

# =========================
# PyTorch / training outputs
# =========================
checkpoints/
outputs/
runs/
*.pt
*.pth

# =========================
# Testing / coverage
# =========================
.coverage
htmlcov/

# =========================
# Misc
# =========================
*.swp

# SMARTS
.envision/

# PyTorch checkpoints
checkpoints/
*.pt
